.project-card{
    color: white;
    font-weight: 900;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 19px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 17rem;
    overflow: hidden;
    transition: 0.5s all;
    z-index: 5;
 
    

}
.project-card:hover{
    transition: 0.6s all;
    transform: scale(105%);
}
.project-card img{
position: absolute;
height: 100%;
width: 100%;
z-index: -4;
}
.btn-container{
    margin-bottom:15px;
}
.project-card h1{
    padding-bottom: 1rem;
    padding: 1rem;
    text-align: center;
}
.project-card p{
    padding-bottom: 1rem;
    padding: 1rem;
    height:  90px ;
    text-align: center;
    font-size: 15px;
}
.project-card small{
    font-size: 14px;
    padding: 8px;
    border-radius: 8px;

    background-color: rgb(73, 73, 73);
}

.project-card div{
    transition: 0.6s all;
    opacity: 0;
}
.project-card:hover div{
    transition: 0.6s all;
    opacity: 1;
}
.project-card_flex_container{
    display: flex;
    padding: 1rem;
    align-items: baseline;
    justify-content: space-between;
}

.updatedLinkBtn{
  background-color: transparent;
  box-shadow: none;

}
 a .icon {
    color: white;
    font-size: 2.5rem;
}
a .icon:hover{
    color: rgb(220, 215, 215);
}

/* error images */

.error-images{
    height: 50px;
    width: 100%;
    background-color: rgba(146, 54, 54, 0.986);
    text-align: center;
    box-shadow: 1px 1.6px 3px rgba(0, 0, 0, 0.45);

}
.error-images h1{
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 1px;
}
