.project-card{
    color: aliceblue;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.322);
    box-shadow: var(--primary-image-box-shadow);
    height: 20rem;
}
.project-card img{
position: absolute;
height: 100%;
width: 100%;
z-index: -4;
}
.project-card h1{
    padding-bottom: 1rem;
    padding: 1rem;
    text-align: center;
}
.project-card p{
    padding-bottom: 1rem;
    padding: 1rem;
    height:  90px ;
    text-align: center;
}
.project-card_flex_container{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

