@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Big+Shoulders+Stencil+Display&family=Jost:wght@100&family=Lobster+Two&family=Montserrat&display=swap');

.about-Page{
  

}

/* section one */
.section-one-about{
    position: relative;
    height: 47rem;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    
}
.section-main-img{
    position: absolute;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    z-index: -2;
    height: 100%;
    width: 100%;
    
}

.section-one-containers{
   display: flex;
}

.section-one-div1{
    height: 400px;
    width: 50%;
    margin: 15px;
    min-width: 650px;
    display: flex;
    align-items: flex-end;
    padding: 1rem;
    filter: grayscale(90%);
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1605379399843-5870eea9b74e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1498&q=80');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size:  cover;
    justify-content: center;
    border-radius: 8px;
    box-shadow: var(--primary-image-box-shadow);
}
.section-one-div1 h1{
    font-family: 'Lobster Two', cursive;
    font-size: 1.7rem;
}

.section-one-div2{
     height: 400px;
     width: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
}

.section-one-div2 h3{
    font-size: 1.5rem;
}
.section-one-div2 a{  
text-decoration: none;
font-size: 1.5rem;
font-family: var(--button-font);
letter-spacing: 2px;
text-transform: uppercase;
font-weight: bold;
padding: 1rem;
border-radius: 80px;
color: inherit;
background-color: var(--main-red);
box-shadow: var(--button-box-show);

}

.section-one-div2 a:hover{
    background-color: var(--light-red);
    box-shadow: none;
    color: inherit;
}

/* section two */
.section-two-react-intro{
    padding-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.react-header{
/* width: 30%; */
display: flex;
justify-content: center;
align-items: center;
padding: 15px;
flex-grow: 2;
}

.react-header h2{
   font-size: 3.1rem;
   font-family: var(--primary-font-family);
 
}
.title-developer{
    margin: 1rem 0 0 3rem;
    color: gray;
}
.about-name{
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--secondary-font-family);
}
.developer-intro{
    width: 70%;
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 35px;
    flex-grow: 2;
}
.content-inner-container-1 p:nth-child(4){
    color: rgb(156, 34, 34);
}

/* section-3 */
.about-section-3{
  
    height: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.about-section-3-img-container{
    max-width: 450px;
    min-width: 300px;
    flex-basis: 35%; 
    overflow: hidden;
  
   
    
}
.about-section-3-img-container img{
    background-position: center;
    height: 500px;
    width: 100%;
    transform: skew(-7deg) scale(0.9);
    box-shadow: var(--primary-image-box-shadow);
   
}
.about-section-content-container{
    height: 500px;
    padding: 35px;
     width: 65%; 
     flex-grow: 1;
}
.content-inner-container-1{
    display: flex;
    height: 55%;
    flex-direction: column;
    justify-content: space-around;

}
.content-inner-container-1 h2 {
    font-size: 2.1rem;
    font-family: 'Alegreya', serif;
    font-weight: lighter;
}

.equal-height div h2{
    font-family: inherit;

}

.content-inner-container-1 p{
   margin-top: 12px;
}
.content-inner-button-container{
    margin-top: 15px;
    height: 25%;
}
.content-inner-button-container a{
    font-family: var(--button-font);
    color: inherit;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    padding: 15px 70px;
    border-radius: 80px;
    background-color: var(--main-red);
    border: none;
    box-shadow: var(--button-box-show);
}

.content-inner-button-container a:hover{
    background-color: var(--light-red);
    box-shadow: none;
    color: inherit;
}

.content-inner-skill-view{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.inner-skill-view{
  margin-top: 15px;
}

.inner-skill-view h4{
    color: var(--small-font-detail-color);
    margin-top: 0.3rem;
    font-weight: 700;
}

/* section 4 */
.work-section{
    padding: 30px;
    width: 100%;
}
.work-main-job-containers{
    width:90% ;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    position: relative;

    
}

.work-header{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.work-header h1{
    font-family: var(--primary-font-family);
    font-size: 3.1rem;
}
/* Section 5 CV */

.CV_Section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}
.CV_Section h1{
    font-family: var(--primary-font-family);
    font-size: 3.1rem;
    padding: 2rem;
}
.CV_Section div{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(75, 4, 4);
    box-shadow: rgba(15, 15, 15, 0.527) 0px 1px 2px 0px, rgba(18, 18, 19, 0.15) 0px 2px 6px 2px;
}

@keyframes wiggle {
    from{
        transform: rotateZ(0deg);
    }
    to{
transform: rotateZ(10deg);
    }
}
.CV_Section div p{
  
}
.CV_Section div a{
    color: inherit;
    cursor: pointer;
}

.viewCV {
    animation: viewCV 2s 1 ease-out;
  
  
}

.viewCV1{
    animation: viewCV1 3s 1;
}

.viewCVAlt{
    animation: viewCVAlt 1.5s 1 ease-in;
}

@keyframes viewCVAlt {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes viewCV {
from{
opacity: 0;
}
to{
    opacity: 1;

}
}
@keyframes viewCV1 {
from{
    opacity: 1;
}
to{
    opacity: 0;

}
}
.CV_Section div a{
    font-size: 2.1rem;
    font-family: var(--secondary-font-family);
    text-transform: uppercase;
   
}


/* class helper */
.F-AC{
    display: flex;
    align-items: center;
    padding: 30px;
}
.FC-AC{
    display: flex;
    flex-direction: column;
}
.equal-height{
    height: 33.33%;
}

.inner-skill-view span{
    font-size: 1.8rem;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 918px) and (max-width: 1280px) {
    .section-one-flex-helper{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15rem;
    
    }
    .section-one-div2{
        position: relative;
        top: 2.5rem;
    }
   
    .work-main-job-containers{
        grid-template-columns: 1fr 1fr;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 917px) {
    .section-one-flex-helper{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15rem;
    
    }
    .section-one-div2{
        position: relative;
        top: 2.5rem;
    }
   
    .about-section-3-img-container{
        opacity: 0;
        height: 0;
  }
  .work-main-job-containers{
    grid-template-columns: 1fr 1fr;
}
.section-one-div2{
    width: 100%;
}
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 900px) and (orientation: landscape) {
    
    .section-one-flex-helper{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15rem;
    
    }
    .section-one-div2{
        position: relative;
        top: 2.5rem;
    }
    .about-section-3-img-container{
          opacity: 0;
    }
    .about-section-3-img-container{
        opacity: 0;
        height: 0;
  }
  .section-one-div2{
    width: 100%;
}
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
      .react-header{
          padding-top: 70px;
      }
    .section-one-div1{
        min-width: 450px;
        object-fit: contain;
        
    }
    .section-one-flex-helper{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15rem;
    
    }
    .section-one-div2{
        position: relative;
        top: 2.5rem;
    }
   
    .work-main-job-containers{
        grid-template-columns: 1fr ;
        width: 75%;
    }
    .about-section-3-img-container{
        opacity: 0;
        height: 0;
  }
  .section-one-div2{
    width: 100%;
}
.F-AC{
    justify-content: space-evenly;
    align-items: center;
     padding: 10px;
 }
 .content-inner-button-container{
    margin-top: 60px;
}

  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  /* @media (min-width: 320px) and (max-width: 480px) {
    .section-one-div1{
        min-width: 450px;
        object-fit: contain;
        
    }
    .work-main-job-containers{
        grid-template-columns: 1fr;
    }
    .about-section-3-img-container{
        opacity: 0;
        height: 0;
  }
  .section-one-div2{
      width: 100%;
  }
  } */

  @media (max-width: 480px){
    .section-two-react-intro{
        margin-top: 100px;
    }
    .section-one-div2{
        position: relative;
        top: 2.5rem;
    }
    
    .section-one-flex-helper{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15rem;
    
    }
    .section-one-div1{
        min-width: 450px;
        object-fit: contain;
        
    }
    .work-main-job-containers{
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
    .about-section-3-img-container{
        opacity: 0;
        height: 0;
  }
  .section-one-div2{
      width: 100%;
  }
  .about-section-3{
      margin-top: 120px;
  }
  .developer-intro{
      padding: 15px;
  }
  
  .F-AC{
   justify-content: space-evenly;
   align-items: center;
    padding: 10px;
}
.content-inner-button-container{
    margin-top: 60px;
}
.about-section-content-container{
    padding: 0;
}
  }