@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Big+Shoulders+Stencil+Display&family=Jost:wght@100&family=Lobster+Two&family=Montserrat&display=swap');
.about-Page{
  height: 100%;
 
}

/* class helper */
.F-AC{
    display: flex;
    align-items: center;
    padding: 30px;
}
.FC-AC{
    display: flex;
    flex-direction: column;
}
.inner-skill-view span{
    font-size: 1.8rem;
}


@media (min-width: 1281px) {
  
  
    
  }
  
  
  
  @media (min-width: 918px) and (max-width: 1280px) {
   
    
  }
  
  
  
  @media (min-width: 768px) and (max-width: 917px) {
   
  
  }
  
  
  @media (min-width: 768px) and (max-width: 900px) and (orientation: landscape) {
    
   
  }
  
  
  
  @media (min-width: 481px) and (max-width: 767px) {
     
   

  }
  
  
  @media (max-width: 480px){
   
  
  }