.project-card{
    color: white;
    font-weight: 900;
    position: relative;
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 7px 15px;
    height: 17rem;
    overflow: hidden;
    transition: 0.5s all;
    z-index: 5;
    max-width: 375px;
}

.project-card .MainContent{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.project-card:hover .MainContent{
    background-color: rgba(0, 0, 0, 0.682);
    padding: 15px;
    transition: opacity 0.7s;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}
.project-card .MainContent1{
    padding-top: 20px;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.MainContent1 h1,p{
    padding-top: 20px;
}

.MainContent2 a {
    color: white;
    
}
.MainContent2 a .icon{
    font-size: 2rem;
}

.MainContent2 a:hover{
    color: rgb(203, 202, 202);
    cursor: pointer;
}
.project-card .MainContent2{
    padding-top: 20px;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
   
}
.project-card:hover{
    transition: 0.5s all;
    transform: scale(105%);
}
.project-card img{
position: absolute;
height: 100%;
width: 100%;
z-index: -4;
}

.icon{
    margin-left: 1rem;
}


