
.section-one_project {
     padding: 125px 75px;
     position: relative;
   
}
.sectionOneProjectImageContainer{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.sectionOneContent{
    color: #fff;
    letter-spacing: 0.05rem;
    line-height: 20px;
   position: absolute;
   left: 50%;
   height: 300px;
   transform: translate(-84%, -30%);
   padding: 40px;
   width: 500px;
   background-color: #343a40;
   border-radius: 8px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sectionOneContent h1{
    padding-bottom: 1rem;
}

.sectionOneImage{
    background-image: url('../../assets/ProjectPage/wireframe.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 800px;
    border-radius: 8px;
    
}

@media (min-width: 1281px) {
}

@media (min-width: 918px) and (max-width: 1280px) {
}

@media (min-width: 766px) and (max-width: 917px) {
}

@media (min-width: 766px) and (max-width: 900px) and (orientation: landscape) {
}

@media (min-width: 481px) and (max-width: 767px) {
}

@media (max-width: 480px) {
    .section-one_project {
        padding: 125px 0;
   }
   .sectionOneImage{
    height: 500px;
    width: 100%;
    border-radius: 0px;
    
}
.sectionOneProjectImageContainer{
    width: 100%;
    align-items: center;
    justify-content: center;
}
.sectionOneContent{
   height: 300px;
   transform: translate(-50%,-50%);
   padding: 30px;
   width: 90%;
   border-radius: 8px;
}
.sectionOneContent h1{
   font-size: 20px;
   text-align: center;
}
.sectionOneContent p{
    font-size: 0.92rem;
    text-align: justify;
    letter-spacing: -0.019rem;
}
}
