.section-two_project {
    padding-top: 125px 75px;
     width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionTwoProjectTitle{
    width: 70%;
}
.sectionTwoProjectTitle h2{
    padding-bottom: 15px;
    font-size: 2rem;
}

.innerContainerContent{
    padding-top: 15px;
}
.innerContainerContent h3{

}
.innerContainerContent p{
    margin-top: 25px;
color: #545454;
text-align: justify;
line-height: 25px;
}

.projectTypes{
    display: flex;
    padding-top: 30px;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}
.projectTypes h3{
    padding-top: 5px;
    text-align: justify;
}
.projectTypes p{
    color: #545454;
}