
.section-one_project {
   
     padding: 125px 75px;
     position: relative;
   
}
.sectionOneProjectImageContainer{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.sectionOneContent{
    color: #fff;
    letter-spacing: 0.05rem;
    line-height: 20px;
   position: absolute;
   left: 50%;
   height: 300px;
   transform: translate(-84%, -30%);
   padding: 40px;
   width: 500px;
   background-color: #343a40;
   border-radius: 8px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sectionOneImage{
    background-image: url('../../assets/ProjectPage/wireframe.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 800px;
    border-radius: 8px;
    
}
