.nomatch{
    height: calc(100vh - 300px);
    width: 100%;
    background: hsl(209, 71%, 66%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nomatch-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
 
}





@media (min-width: 1281px) {
   

    
}

@media (min-width: 918px) and (max-width: 1280px) {
  
  
}


@media (min-width: 766px) and (max-width: 917px) {
  
 
}


@media (min-width: 766px) and (max-width: 900px) and (orientation: landscape) {
  
}


@media (min-width: 481px) and (max-width: 767px) {


}


@media (max-width: 480px){
   
 
}