/* dark mode toggle */
.darkmode-icon{
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: white;
    cursor: pointer;
  }
  
  .brightMode{
  font-size: 1.8rem;
  animation: 1s appearance forwards;
  }
  .brightMode:hover{
    color: #FFE37F;
   
  }
  
  .lightMode{
    font-size: 1.8rem;
    animation: 1s appearance forwards;
    
  }
  .lightMode:hover{
    color: #FFE37F;
  }

  .darkMode-mobile{

  }
  
  @keyframes appearance {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }




@media (min-width: 1281px) {
 
  
   
    
}


@media (min-width: 1025px) and (max-width: 1280px) {
  
  
  
}


@media (min-width: 768px) and (max-width: 1024px) {
 
  
  
}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
 
  
  
}



@media (min-width: 481px) and (max-width: 767px) {
  
  
}


@media  (max-width: 480px) {
 


 
}