
.header{  
  position: relative;
  z-index: 5;
  top: 0;
  width: 100%;
  height: 13rem;
  background-image: url(../assets/Nav/sumaid-pal-singh-bakshi-XWSmgos6l5k-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: grayscale(20%);
          filter: grayscale(20%);

 
}
.activePage{
position: absolute;
bottom: 10%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
background: -webkit-linear-gradient(#eee, #333);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;

}
nav{
position: relative;
padding-top: 5rem;
width: 100%;
height: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: start;
  -ms-flex-align: start;
      align-items: flex-start;
-webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;

}

.navbar-container-1 img{
  width: 10rem;
  height: 10rem;
  margin-left: 2.5rem;
  position: absolute;
  left: 2rem;
  top: 1rem
  
}

.navbar-container-2{

}
.navbar-mobile{
position: absolute;
right: 0rem;
top: 4rem;
}



.nav-btn{
  font-size: 16px;
  color: white;
  padding: 0.6rem;
  font-weight: 900;
  letter-spacing: 0.05rem;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
 

}

.nav-btn:hover{
  color: #002BDC;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;

}
.nav-btn:active{
background-color: rgba(253, 250, 250, 0.116);

}

.navbar-inner-ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}


/* Toggle Menu Hamburger */
.toggle-button{
  margin-top: 15px;
 width: 60px;
 cursor: pointer;
 -webkit-transform: scale(70%);
     -ms-transform: scale(70%);
         transform: scale(70%);
}
.toggle-button span {
 display: block;
 width: 100%;
 -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
         box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
 border-radius: 3px;
 height: 4px;
 background: #fff;
 -webkit-transition: all .3s;
 -o-transition: all .3s;
 transition: all .3s;
 position: relative;

 
}

span + span {
 margin-top: 14px;
}

.active span:nth-child(1) {
 -webkit-animation: ease .7s top forwards;
         animation: ease .7s top forwards;
}

.not-active span:nth-child(1) {
 -webkit-animation: ease .7s top-2 forwards;
         animation: ease .7s top-2 forwards;
}

.active span:nth-child(2) {
 -webkit-animation: ease .7s scaled forwards;
         animation: ease .7s scaled forwards;
}

.not-active span:nth-child(2) {
 -webkit-animation: ease .7s scaled-2 forwards;
         animation: ease .7s scaled-2 forwards;
}

.active span:nth-child(3) {
 -webkit-animation: ease .7s bottom forwards;
         animation: ease .7s bottom forwards;
}

.not-active span:nth-child(3) {
 -webkit-animation: ease .7s bottom-2 forwards;
         animation: ease .7s bottom-2 forwards;
}




/* All toggleDarkMode css on diffrent file. */
  @keyframes top {
    0% {
      top: 0;
      left: 0;
      transform: rotate(0);
    }
    50% {
      top: 17px;
      transform: rotate(0);
    }
    100% {
      top: 16.5px;
      left: 1px;
      transform: rotate(48deg);
    }
  }
  
  @keyframes top-2 {
    0% {
      top: 17px;
      transform: rotate(45deg);
    }
    50% {
      top: 17px;
      transform: rotate(0deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
    }
  }
  
  @keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    50% {
      bottom: 21px;
      transform: rotate(0);
    }
    100% {
      bottom: 21px;
      transform: rotate(135deg);
    }
  }
  
  @keyframes bottom-2 {
    0% {
      bottom: 21px;
      transform: rotate(135deg);
    }
    50% {
      bottom: 21px;
      transform: rotate(0);
    }
    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }
  
  @keyframes scaled {
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes scaled-2 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }



@media (min-width: 1281px) {
  
   
    
  }
  
  
  @media (min-width: 1025px) and (max-width: 1280px) {
   
    
  }
  
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .navbar-container-1 img{
      margin-left: 0rem;
      left: -1rem;
  }
  .navbar-mobile{
    right: 0;
  }
  .activePage{
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
  }
  .toggle-button{
    margin-right: 1rem;
   }
   
   
  }
  
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .navbar-container-1 img{
      margin-left: 0rem;
      left: -1rem;
  }
  .navbar-mobile{
    right: 0;
  }
  .activePage{
    left: 50%;
    transform: translate(-50%, -50%);

  }
  .navbar-mobile{
    position: absolute;
    right: 0rem;
    top: 4rem;
  }
  .toggle-button{
    margin-right: 1rem;
   }
   
  }
  
  
  
  @media (min-width: 481px) and (max-width: 767px) {
    .navbar-container-1 img{
      margin-left: 0rem;
      left: -1rem;
  }
  .navbar-mobile{
    right: 0;
  }
  .activePage{
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
  }
  .navbar-mobile{
    position: absolute;
    right: 0rem;
    top: 4rem;
  }
  .toggle-button{
    margin-right: 1rem;
   }
   
    
  }
  
  
  @media  (max-width: 480px) {
    .navbar-container-1 img{
      margin-left: 0rem;
      left: -1rem;
  }
  .navbar-mobile{
    right: 0;
  }
  .activePage{
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
  }
  .navbar-mobile{
    position: absolute;
    right: 0rem;
    top: 4rem;
  }
  .toggle-button{
   margin-right: 1rem;
  }
  
   
  }