.smallDesc{
   width: 100%;
   padding-bottom: 175px;
}
.smallDescContainer{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    padding: 0 75px;


}
.smallDescContainers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    padding-top: 15px;
}
.smallDescContainers:hover{
    background-color: #54545407;
}
.smallDescContainers div{
    padding: 0 2rem;
}
 
.smallDescContainers div p{
    height: 100px;
    letter-spacing: 0.05rem;
    line-height: 25px;
     color: #545454;
}

.websiteIcon{
    position: relative; 
    left: 7%;
    top: -5px;
    font-size: 2rem;
    color: #545454;
}

.iconContainers:after{
    content: ""; 
   position: relative;
   left: 5px;
background: red;
width: 100px;
height: 13px;
}



@media (min-width: 1281px) {
  

    
}


@media (min-width: 918px) and (max-width: 1280px) {

}


@media (min-width: 766px) and (max-width: 917px) {
 
 
}


@media (min-width: 766px) and (max-width: 900px) and (orientation: landscape) {

}


@media (min-width: 481px) and (max-width: 767px) {
    .smallDescContainer{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        width: 100%;
        padding:5px;
    
    
    }
}

@media (max-width: 480px){
    .smallDescContainer{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        width: 100%;
        padding:5px;
    
    
    
    }
    .smallDescContainers{
        margin-bottom: 15px;
    }
 
 
}