.work-job-containers{
    position: relative;
    max-width: 450px;
    min-width: 300px;
    width: 400px;
    height: 400px;
    border-radius: 8px;
    overflow: hidden;
    color:whitesmoke;
}

.work-job-containers:hover .backgroundAnimation{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  opacity: 0.2;
  animation: 0.5s backgroundAnimation forwards;

}
@keyframes backgroundAnimation {
  from{
    opacity: 0;
    
  }
  to{
 opacity: 0.8;
 background-color: black;
  }
}
.work-job-containers:hover  .workCardSection{
  width: 80%;
  height: 70%;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 1;
}
.workCardSection{
 opacity: 0;
}
.workCardSection a{
  text-decoration: none;
  width: 90px;
  text-align: center;
  color: whitesmoke;
  letter-spacing: 0.06rem;
  font-weight: bold;
  position: absolute; 
  bottom: -13px;
  right: -10px;
  background-color: rgb(73, 166, 233);
  padding: 12px;
}
.workCardSection a:hover{
 background-color: hsl(209, 44%, 56%);

}
.workCardSection div{
 width: 100%;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  text-align: center ;
}
.workCardSection div h3{
  font-weight: bold;
  font-size: 1.7rem;
  width: 100%;
  color: white;
  padding-bottom: 1rem;
	-webkit-text-stroke: 1px #F8F8F8;
	text-shadow: 0px 1px 4px #0c1d43;
  letter-spacing: 0.05rem;
}
.work-job-containers img{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}


@media (min-width: 1281px) {
  
   
  }
  
  
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
   
    
  }
  
  
  @media (min-width: 768px) and (max-width: 1024px) {
   
    
  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
   
    
  }
  
  
  @media (min-width: 481px) and (max-width: 767px) {
   .work-job-containers{
    margin: 0 auto;
   }
  }
  
  
  
  @media (max-width: 480px) {
     .work-main-job-containers{
        padding: 0px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem; 
    }
    .workSectionContainer{
        padding: 0;
    }
  
  }