.work-section{
    padding-top: 175px;
    width: 100%;
  
   
}
.workSectionContainer{
    padding: 0 75px;
}

.work-main-job-containers{
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem; 
}

.work-header{
    height: 200px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.work-header h1{
   
    font-family: 'Poppins', sans-serif;
}



@media (min-width: 1281px) {
  
  
    
}



@media (min-width: 918px) and (max-width: 1280px) {
 
  
}



@media (min-width: 768px) and (max-width: 917px) {
 

}


@media (min-width: 768px) and (max-width: 900px) and (orientation: landscape) {
  
 
}



@media (min-width: 481px) and (max-width: 767px) {
   
 

}


@media (max-width: 480px){
    .work-main-job-containers{
        padding: 30px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem; 
    }
    .workSectionContainer{
        padding: 0;
    }
    

}