.work-job-containers{
    position: relative;
    max-width: 450px;
    min-width: 300px;
    height: 300px;
    border-radius: 8px;
    color:white;
    transition: all 0.7s;
   
   
}
.work-job-containers:hover{
  transform: scale(107%);
  transition: all 0.7s;
  
}

.work-job-containers span{
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%) scale(98%);
    bottom: -15%;
    left: 15%;
    z-index: 4;
    display: flex;
    opacity: 0;  
   
    letter-spacing: 0.05rem;
   
}

.work-job-containers:hover span{
    transition: opacity 0.3s;
    opacity: 1;
   
   
}
.work-job-containers img{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.work-job-containers:hover img{
    transition: all 0.4s;
    filter: grayscale(100%);
}
.work-job-containers img:hover span{
   opacity: 0.6;
}

 .a-1,
 .linkBtn
 {
   position: relative;
   text-decoration: none;
   font-size: 1.8rem;
   color: black;
   padding: 1rem;
   font-weight: bold;
   border-radius: 50px;
   transform: uppercase;
 
}
.a-1,
.linkBtn:hover{
    text-shadow:3px;
    color: black;
    cursor: pointer;
    
}
.a-1:hover{
  color: black;
}

.work-job-containers:hover span:before{
  content: "";
  position: absolute;
  bottom: 16px;
  left:18px;
  margin-top:5px;
  width: 70px;
  background-color: black;
  height: 3px;
  animation: underline 1.3s ;
 
}
@keyframes underline {
  0%{
    width: 0;
  }
  100%{
   width: 70px;
  }
}


@media (min-width: 1281px) {
  
   
  }
  
  
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
   
    
  }
  
  
  @media (min-width: 768px) and (max-width: 1024px) {
   
    
  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
   
    
  }
  
  
  @media (min-width: 481px) and (max-width: 767px) {
   
  }
  
  
  
  @media (max-width: 480px) {
   
  }