.footer{
    width: 100%;
    position: relative;
    color: #888;
    font-family: Poppins,sans-serif;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1) ;
    color: hsl(209, 34%, 30%);
}
.darkMode-footer{
   background-color: black;
}
.footContainer{
  height: 100%;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footContainer-image{
   margin-left: 16px
}
.foot-content{
   padding-right: 2rem;
}
.foot-content p span{
color: rgb(73, 166, 233);
font-weight: 600;
}

@media (min-width: 1281px) {
  

    
}


@media (min-width: 918px) and (max-width: 1280px) {
   
   
     
   
  
}


@media (min-width: 766px) and (max-width: 917px) {
     
   
     
 
}


@media (min-width: 766px) and (max-width: 900px) and (orientation: landscape) {
    
   
     
}


@media (min-width: 481px) and (max-width: 767px) {
   .footContainer{
    flex-direction: column;
   } 
   .foot-content{
      padding-right: 0;
   }
   .footContainer-image{
      margin-left: 0;
   }

}

@media (max-width: 480px){
   .footContainer{
      flex-direction: column;
     } 
     .foot-content{
        padding-right: 0;
     }
     .footContainer-image{
      margin-left: 0;
   }
}