
.bar{
    width: 48px;
    height: 200px;
    background-color: #928e8e9a;
    display: flex;
    position: relative;
    align-items: flex-end;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: white solid 2px;
   
}

.bar div h4{
    margin-bottom: 5px;
    margin-top: 15px;
    position: absolute;
    bottom: -auto;
    left: -90px;
    color: var(--main-red);
    white-space: nowrap; 
    width: 120px; 
    overflow: hidden;
    text-overflow: ellipsis;
    transform: rotate(20deg);
}

.bar div span {
    font-size: 18px;
    margin-bottom: 5px;
    color: white;
    
}

