*{
  margin: 0;
  padding:0;
  overscroll-behavior: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: #f4f4f4;
  scroll-behavior: smooth;
  color: black;
}

body::-webkit-scrollbar {
  display: none;
}
p{
  font-family: sans-serif;
  
}