.home-page {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  color: #fff;
}

.logo {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 70px;
  height: 170px;
  top: 4rem;
  left: 7.5rem;
}
.imageTwo {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("../../assets/HomePage/Julio\ Lopez.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.section-flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.section-flex-center article {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.section-flex-center article:nth-child(1) {
  justify-content: center;
  align-items: flex-start;
}
.section-flex-center article:nth-child(2) {
  justify-content: center;
  align-items: flex-end;
}
.section-flex-center article h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
  font-family: inherit;
  font-weight: bold;
}
.section-flex-center article h3 {
  padding-bottom: 1rem;
  color: whitesmoke;
  font-family: inherit;
}
.section-flex-center article p {
  padding-bottom: 1rem;
  color: whitesmoke;
  font-family: inherit;
}

.section-flex {
  width: 50%;
  height: 55%;
  padding: 1rem;
}
.section-flex-center article:nth-child(2) div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.section-flex-center article:nth-child(2) div a {
  background-color: rgb(73, 166, 233);
  padding: 1.2rem 1.3rem;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.section-flex-center article:nth-child(2) div a:hover {
  background-color: hsl(209, 44%, 56%);
}

.sideLink-mobile a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}
.sideLink-mobile a:hover {
  color: whitesmoke;
}
.arrowIcon {
  font-size: 2rem;
  margin-right: 0.8rem;
  transition: 0.4s all;
}
.section-flex-center article:nth-child(2) div a:hover .arrowIcon {
  transform: rotate(-90deg);
  transition: 0.4s all ease-in-out;
}
.sideLink-mobile a small {
  letter-spacing: 0.05rem;
  font-size: 1rem;
}
.sideLink {
  position: absolute;
  right: 1rem;
  transform: rotate(269deg);
}

.sideLink a {
  color: #fff;
  text-decoration: none;
  
}
.sideLink a:hover {
  color: rgb(73, 166, 233);
}

.sideLink a small {
  letter-spacing: 0.05rem;
  font-size: 1.1rem;
  position: relative;
  top: 2rem;
}
.arrowRight {
  font-size: 5rem;
  position: relative;
  transform: rotate(90deg);
  animation: arrowAnimated 1.7s infinite;
}

@-webkit-keyframes arrowAnimated {
  0% {
    bottom: 3rem;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: 3rem;
  }
}

@keyframes arrowAnimated {
  0% {
    bottom: 3rem;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: 3rem;
  }
}

@media (min-width: 1281px) {
  .arrowRight {
    left: 8rem;
   }
  
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .arrowRight {
   left: 8rem;
  }
 
}

@media (min-width: 768px) and (max-width: 1024px) {
  .home-page {
    flex-direction: column;
  }
  .section-flex-center article:nth-child(1) {
    justify-content: flex-end;
  }
  .section-flex-center article {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .section-flex {
    width: 100%;
    height: 75%;
    padding: 1rem;
  }
  .logo {
    top: 2rem;
    left: 3.5rem;
  }
  .imageTwo {
    background-position: 89% 75%;
    background-size: cover;
  }
  .section-flex-center article h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
    font-family: inherit;
    font-weight: bold;
  }
  .section-flex-center article h3 {
    font-size: 1.1rem;
    padding-bottom: 1rem;
    color: whitesmoke;
    font-family: inherit;
  }
  .section-flex-center article p {
    padding-bottom: 1rem;
    color: whitesmoke;
    font-family: inherit;
  }
  .sideLink {
    bottom: 3%;
    width: 100%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    transform: rotate(360deg) translate(-50%, -50%);
  }
  .sideLink div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .home-page {
    flex-direction: column;
  }
  .section-flex-center article:nth-child(1) {
    justify-content: flex-end;
  }
  .section-flex-center article {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .section-flex {
    width: 100%;
    height: 75%;
    padding: 1rem;
  }
  .logo {
    top: 2rem;
    left: 3.5rem;
  }
  .imageTwo {
    background-position: 89% 75%;
    background-size: cover;
  }
  .section-flex-center article h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
    font-family: inherit;
    font-weight: bold;
  }
  .section-flex-center article h3 {
    font-size: 1.1rem;
    padding-bottom: 1rem;
    color: whitesmoke;
    font-family: inherit;
  }
  .section-flex-center article p {
    padding-bottom: 1rem;
    color: whitesmoke;
    font-family: inherit;
  }
  .sideLink {
    bottom: 3%;
    width: 100%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    transform: rotate(360deg) translate(-50%, -50%);
  }
  .sideLink div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .home-page {
    flex-direction: column;
  }
  .section-flex-center article:nth-child(1) {
    justify-content: flex-end;
  }
  .section-flex-center article {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .section-flex {
    width: 100%;
    height: 75%;
    padding: 1rem;
  }
  .logo {
    top: 2rem;
    left: 3.5rem;
  }
  .imageTwo {
    background-position: 89% 75%;
    background-size: cover;
  }
  .section-flex-center article h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
    font-family: inherit;
    font-weight: bold;
  }
  .section-flex-center article h3 {
    font-size: 1.1rem;
    padding-bottom: 1rem;
    color: whitesmoke;
    font-family: inherit;
  }
  .section-flex-center article p {
    padding-bottom: 1rem;
    color: whitesmoke;
    font-family: inherit;
  }
  .sideLink {
    bottom: 3%;
    width: 100%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    transform: rotate(360deg) translate(-50%, -50%);
  }
  .sideLink div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .home-page {
    flex-direction: column;
  }
  .section-flex-center article:nth-child(1) {
    justify-content: flex-end;
  }
  .section-flex-center article {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .section-flex {
    width: 100%;
    height: 75%;
    padding: 1rem;
  }
  .logo {
    top: 2rem;
    left: 3.5rem;
  }
  .imageTwo {
    background-position: 89% 75%;
    background-size: cover;
  }
  .section-flex-center article h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
    font-family: inherit;
    font-weight: bold;
  }
  .section-flex-center article h3 {
    font-size: 1.1rem;
    padding-bottom: 1rem;
    color: whitesmoke;
    font-family: inherit;
  }
  .section-flex-center article p {
    padding-bottom: 1rem;
    color: whitesmoke;
    font-family: inherit;
  }
  .sideLink {
    bottom: 3%;
    width: 100%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    transform: rotate(360deg) translate(-50%, -50%);
  }
  .sideLink div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
