.home-page {
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1642355008521-236f1d29d0a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80");
  background-size: cover;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  color: white;
  position: relative;
}

.logo{
  position: absolute;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
  width: 70px;
  height: 200px;
  top: 5rem;
  left: 7.5rem;
 
}

.home-page section {
  margin-top: 200px;
  margin-left: 4rem;
  width: 100%;
}

.home-page section article:nth-child(1) {
  margin-top: 8rem;
  margin-left: 4rem;
  height: 250px;
}
.home-page section article div h1 {
  font-size: 3rem;
  margin-top: 1rem;
  letter-spacing: 0.02rem;
  width: 100%;
}
.home-page section article div p {
  margin-top: 1rem;
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
}

.home-page section article:nth-child(2) {
  margin-left: 4rem;
}
.home-page section article div a {
  padding: 1rem;
  color: #eef1f6;
  border: 2.4px solid #002bdc;
  text-decoration: none;
  background-color: black;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}
.home-page section article div a:hover {
  animation: 1s containerFill forwards;
}

#container{
  padding-top: 3rem;
}

@keyframes containerFill {
  to {
    background-color: #2f4bff;
    border-color: transparent;
  }
}

.sideLink-mobile {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transition: all 1s;
  transform: rotate(360deg) translate(-50%, -50%);
}
.sideLink-mobile a {
  color: #002bdc;
  text-decoration: none;
}
.sideLink-mobile a:hover {
  color: gray;
}

.sideLink-mobile a small {
  letter-spacing: 0.05rem;
  font-size: 0.9rem;
}
.sideLink {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: rotate(269deg);
}

.sideLink a {
  color: #002bdc;
  text-decoration: none;
}
.sideLink a:hover {
  color: gray;
}

.sideLink a small {
  letter-spacing: 0.05rem;
  font-size: 0.9rem;
}
.arrowRight{
  font-size: 5rem;
  position: relative;
  left: 7rem;
  transform: rotate(90deg);
  animation: arrowAnimated 1.7s infinite ;
}

@keyframes arrowAnimated {
  0% {
    bottom: 3rem;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: 3rem;
  }
}
@media (min-width: 1281px) {
}

@media (min-width: 1025px) and (max-width: 1280px) {
}

@media (min-width: 768px) and (max-width: 1024px) {
  .home-page section {
    margin-left: 0rem;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

@media (min-width: 481px) and (max-width: 767px) {
  .home-page section {
    margin-left: 0rem;
    width: 100%;
  }
  .home-page section article:nth-child(1){
    margin-left: 1.5rem;
  }
  .home-page section article div h1 {
    font-size: 2rem;
   
  }
  .home-page section article:nth-child(2) {
    margin-left: 0rem;
  }
  #container{
    display: flex;
    width: 100%;
   justify-content: center;
  }
  
}

@media  (max-width: 480px) and (min-height: 500px) {
  .home-page section {
    margin-left: 0rem;
    width: 100%;
  }
  .home-page section article:nth-child(1){
    margin-left: 1rem;
  }
  .home-page section article div h1 {
    font-size: 2rem;
   
  }
  .home-page section article:nth-child(2) {
    margin-left: 0rem;
  }
  .home-page section article div h1{
    text-align: center;
  }
  .home-page section article div p{
    text-align: center;
    padding-top: 2rem;
    margin: 0 5px
  }
  #container{
    display: flex;
    width: 100%;
   justify-content: center;
  }
}
