
.home-page {
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1642355008521-236f1d29d0a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  color: white;
  position: relative;
}

.logo{
  position: absolute;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
  width: 70px;
  height: 200px;
  top: 5rem;
  left: 7.5rem;
 
}

.home-page section {
  margin-top: 200px;
  margin-left: 4rem;
  width: 100%;
}

.home-page section article:nth-child(1) {
  margin-top: 8rem;
  margin-left: 4rem;
  height: 250px;
}
.home-page section article div h1 {
  font-size: 3rem;
  margin-top: 1rem;
  letter-spacing: 0.02rem;
  width: 100%;
}
.home-page section article div p {
  margin-top: 1rem;
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
}

.home-page section article:nth-child(2) {
  margin-left: 4rem;
}
.home-page section article div a {
  padding: 1rem;
  color: #eef1f6;
  background-color: #002bdc;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}
.home-page section article div a:hover {
  -webkit-animation: 1s containerFill forwards;
          animation: 1s containerFill forwards;
}

#container{
  padding-top: 3rem;
}

@-webkit-keyframes containerFill {
  to {
    background-color: #2f4bff7d;
    border-color: transparent;
  }
}

@keyframes containerFill {
  to {
    background-color: #2f4bff7d;
    border-color: transparent;
  }
}

.sideLink-mobile {
  position: absolute;
  bottom: 15%;
  left: 50%;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-transform: rotate(360deg) translate(-50%, -50%);
      -ms-transform: rotate(360deg) translate(-50%, -50%);
          transform: rotate(360deg) translate(-50%, -50%);
}
.sideLink-mobile a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}
.sideLink-mobile a:hover {
  color: #2f4bff7d;
}

.sideLink-mobile a small {
  letter-spacing: 0.05rem;
  font-size: 0.9rem;
}
.sideLink {
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-transform: rotate(269deg);
      -ms-transform: rotate(269deg);
          transform: rotate(269deg);
}

.sideLink a {
  color: #002bdc;
  text-decoration: none;
}
.sideLink a:hover {
  color: #2f4bff7d;
}

.sideLink a small {
  letter-spacing: 0.05rem;
  font-size: 0.9rem;
}
.arrowRight{
  font-size: 5rem;
  position: relative;
  left: 7rem;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: arrowAnimated 1.7s infinite ;
          animation: arrowAnimated 1.7s infinite ;
}

@-webkit-keyframes arrowAnimated {
  0% {
    bottom: 3rem;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: 3rem;
  }
}

@keyframes arrowAnimated {
  0% {
    bottom: 3rem;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: 3rem;
  }
}
@media (min-width: 1281px) {
}

@media (min-width: 1025px) and (max-width: 1280px) {
}

@media (min-width: 768px) and (max-width: 1024px) {
  .logo{
    position: absolute;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
    width: 70px;
    height: 200px;
    top: 5rem;
    left: 50%;
    transform: translate(-50%, 20%);
   
  }
    .home-page section {
      margin-top: 300px;
      margin-left: 0;
    }
  
  .home-page section article:nth-child(1) {
    margin-top: 5rem;
    margin-left: 0.8rem;
    height: 250px;
    text-align: center;
  }
  .home-page section article div h1{
    font-size: 2rem;
  }
  
  .sideLink-mobile {
    position: absolute;
    bottom: 0%;
    left: 45%;
    transition: all 1s;
    transform: rotate(360deg) translate(-50%, -50%);
  }
  
  .home-page section article:nth-child(1) {
    margin: 0 1rem;
    padding-top: 3rem;
    height: 250px;
  }
  
  .home-page section article:nth-child(2) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0rem;
    padding: 3rem;
  }
  .home-page section article div a{
   margin: 0 auto;
  
   
  }
  #container{
    padding-top: 0rem;
  }
  
  
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .logo{
    position: absolute;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
    width: 70px;
    height: 200px;
    top: 5rem;
    left: 50%;
    transform: translate(-50%, 20%);
   
  }
    .home-page section {
      margin-top: 300px;
      margin-left: 0;
    }
  
  .home-page section article:nth-child(1) {
    margin-top: 5rem;
    margin-left: 0.8rem;
    height: 250px;
    text-align: center;
  }
  .home-page section article div h1{
    font-size: 2rem;
  }
  
  .sideLink-mobile {
    position: absolute;
    bottom: 0%;
    left: 45%;
    transition: all 1s;
    transform: rotate(360deg) translate(-50%, -50%);
  }
  
  .home-page section article:nth-child(1) {
    margin: 0 1rem;
    padding-top: 3rem;
    height: 250px;
  }
  
  .home-page section article:nth-child(2) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0rem;
    padding: 3rem;
  }
  .home-page section article div a{
   margin: 0 auto;
  
   
  }
  #container{
    padding-top: 0rem;
  }
  
  


}

@media (min-width: 481px) and (max-width: 767px) {
  .logo{
    position: absolute;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
    width: 70px;
    height: 200px;
    top: 5rem;
    left: 50%;
    transform: translate(-50%, 20%);
   
  }
    .home-page section {
      margin-top: 300px;
      margin-left: 0;
    }
  
  .home-page section article:nth-child(1) {
    margin-top: 5rem;
    margin-left: 0.8rem;
    height: 250px;
    text-align: center;
  }
  .home-page section article div h1{
    font-size: 2rem;
  }
  
  .sideLink-mobile {
    position: absolute;
    bottom: 0%;
    left: 45%;
    transition: all 1s;
    transform: rotate(360deg) translate(-50%, -50%);
  }
  
  .home-page section article:nth-child(1) {
    margin: 0 1rem;
    padding-top: 3rem;
    height: 250px;
  }
  
  .home-page section article:nth-child(2) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0rem;
    padding: 3rem;
  }
  .home-page section article div a{
   margin: 0 auto;
  
   
  }
  #container{
    padding-top: 0rem;
  }
  
  
}

@media  (max-width: 500px)  {

.logo{
  position: absolute;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
  width: 70px;
  height: 200px;
  top: 0rem;
  left: 50%;
  transform: translate(-50%, -10%);
 
}

  .home-page section {
    margin-top: 100px;
    margin-left: 0;
  }

.home-page section article:nth-child(1) {
  margin-top: 5rem;
  margin-left: 0.8rem;
  height: 250px;
  text-align: center;
}
.home-page section article div h1{
  font-size: 1.8rem;
}
.home-page section article div p{
 margin-top: 1.5rem;
}

.sideLink-mobile {
  position: absolute;
  bottom: 5%;
  left: 57%;
  transition: all 1s;
  transform: rotate(360deg) translate(-50%, -50%) scale(75%);
  width: 100%;
}

.home-page section article:nth-child(1) {
  margin: 0 1rem;
  padding-top: 3rem;
  height: 250px;
}

.home-page section article:nth-child(2) {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0rem;
  padding: 3rem;
}
.home-page section article div a{
font-size: 1rem;


}
#container{
  padding-top: 0rem;
}
.container a{
  color: white;
}

}
