
   .main-view{
    margin: 0;
    width: 100%;
    position: relative;
}
.activePage{
  position:absolute;
  font-size: 1rem;
  top:25%;
  left: 5%;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
  }

@media (min-width: 1281px) {
  
   
    
  }
  
  
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
   
  }
  
  
  
  @media (min-width: 768px) and (max-width: 1024px) {
   
    
  }
  
  
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    
  }
  
  
  
  @media (min-width: 481px) and (max-width: 767px) {
    .main-view{
        margin: 0;
        width: 100%;
    }
  }
  
  
  @media (max-width: 480px) {
    .main-view{
        margin: 0;
        width: 100%;
    }
  }