.nomatch{
    display: flex;
    background: url('../../../../assets/ProjectPage/project-main-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.nomatch div{
    width: 30rem;
    position: relative;
    border-radius: 30px;
    background: url('../../../../assets/404_Page/404page.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30rem;
    box-shadow: -1px 6px 9px 3px rgba(0,0,0,0.5);
}
.nomatch div p{
    position: absolute; 
    bottom: 15px;
    width: 100%;
    left: 15px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.05rem;
    right: 25px;
}

.nomatch div p span{
    color: yellow;
    text-decoration: underline;
}


@media (min-width: 1281px) {
   

    
}

@media (min-width: 918px) and (max-width: 1280px) {
  
  
}


@media (min-width: 766px) and (max-width: 917px) {
  
 
}


@media (min-width: 766px) and (max-width: 900px) and (orientation: landscape) {
    .nomatch div {
       height: 200px;
        
   } 
}


@media (min-width: 481px) and (max-width: 767px) {
 .nomatch div{
     min-width: 300px;
     
} 

}


@media (max-width: 480px){
    .nomatch div{
       width: 100%;
       margin: 3px;
       object-fit: cover;
   } 
   .nomatch div p{
    width: 300px;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    
   }
  
  
.nomatch div p span{
    position: relative;
    left:calc(100% - 75%);
   
}
 
}